<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1>Who is Rosalia?</h1>
    <p>
      Rosalia was a character I created many years ago. I used her for Dungeons
      and Dragons, RPGs, and more. Now she also serves as branding for this
      project!
    </p>
    <p>You can read more about her with the links below.</p>
  </div>
  <a routerLink="/bio" class="nes-btn">Learn About Rosalia</a>
  <a routerLink="/gallery" class="nes-btn">View Rosalia art</a>
  <a routerLink="/adventures" class="nes-btn">View Rosalia's Adventures</a>
</div>
