<div class="content">
  <div
    *ngIf="view === 'intro'"
    class="nes-container with-title is-centered is-rounded"
  >
    <h1 class="title">Gallery</h1>
    <p>
      Here you can view various art of Rosalia. Use the buttons below to see
      what is available.
    </p>
    <p>Which art would you like to see?</p>
  </div>
  <div
    *ngIf="view === 'portrait'"
    class="nes-container with-title is-centered is-rounded"
  >
    <h1 class="title">Portraits</h1>
    <p>Here is Rosalia's handmade art.</p>
    <p>
      There are <strong>{{ portraits.length }}</strong> portraits available to
      browse.
    </p>
  </div>
  <div
    *ngIf="view === 'portrait'"
    class="nes-container is-rounded is-centered image"
  >
    <a
      href="https://cdn.naomi.lgbt/rosalia/art/{{
        portraits[currentPortraitIndex].fileName
      }}"
      target="_blank"
    >
      <img
        src="https://cdn.naomi.lgbt/rosalia/art/{{
          portraits[currentPortraitIndex].fileName
        }}"
        alt=""
      />
    </a>
    <p>
      By
      <a
        href="{{ portraits[currentPortraitIndex].artistUrl }}"
        target="_blank"
        rel="noopener noreferrer"
        >{{ portraits[currentPortraitIndex].artist }}</a
      >
    </p>
    <button class="nes-btn" (click)="previousPortrait()">
      Previous Portrait
    </button>
    <button class="nes-btn" (click)="nextPortrait()">Next Portrait</button>
    <select #portrait (change)="selectPortrait(portrait.value)">
      <option disabled selected>Jump to Portrait</option>
      <option *ngFor="let portrait of portraits; let i = index" [value]="i">
        {{ portrait.fileName }}
      </option>
    </select>
  </div>
  <div
    *ngIf="view === 'pose'"
    class="nes-container with-title is-centered is-rounded"
  >
    <h1 class="title">Poses</h1>
    <p>Images capturing different situations Rosalia has been in.</p>
    <p>
      There are <strong>{{ poses.length }}</strong> murals available to browse.
    </p>
  </div>
  <div
    *ngIf="view === 'pose'"
    class="nes-container is-rounded is-centered image"
  >
    <a
      href="https://cdn.naomi.lgbt/rosalia/koikatsu/{{
        poses[currentPoseIndex]
      }}"
      target="_blank"
    >
      <img
        src="https://cdn.naomi.lgbt/rosalia/koikatsu/{{
          poses[currentPoseIndex]
        }}"
        alt="Naomi"
      />
    </a>
    <p>
      {{ getPoseName(currentPoseIndex) }}
    </p>
    <button class="nes-btn" (click)="previousPose()">Previous Mural</button>
    <button class="nes-btn" (click)="nextPose()">Next Mural</button>
    <select #pose (change)="selectPose(pose.value)">
      <option disabled selected>Jump to Mural</option>
      <option *ngFor="let pose of poses; let i = index" [value]="i">
        {{ getPoseName(i) }}
      </option>
    </select>
  </div>
  <button
    *ngIf="view !== 'portrait'"
    class="nes-btn"
    (click)="changeView('portrait')"
  >
    Portrait Exhibit
  </button>
  <button *ngIf="view !== 'pose'" class="nes-btn" (click)="changeView('pose')">
    Mural Exhibit
  </button>
  <a class="nes-btn" routerLink="/rosa">Enough art for now</a>
</div>
