<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Adventures</h1>
    <p>Images of the adventures that Rosalia has been on.</p>
    <p>
      There are <strong>{{ games.length }}</strong> adventures available to
      revisit.
    </p>
  </div>
  <div class="nes-container is-rounded is-centered game">
    <h2 class="title">{{ games[currentGameIndex].game }}</h2>
    <p>{{ games[currentGameIndex].description }}</p>
    <a
      href="https://cdn.naomi.lgbt/rosalia/games/{{
        games[currentGameIndex].fileName
      }}"
      target="_blank"
    >
      <img
        src="https://cdn.naomi.lgbt/rosalia/games/{{
          games[currentGameIndex].fileName
        }}"
        alt="{{ games[currentGameIndex].alt }}"
      />
    </a>
    <button class="nes-btn" (click)="previousGame()">Previous Adventure</button>
    <button class="nes-btn" (click)="nextGame()">Next Adventure</button>
    <select #gameOpt (change)="selectGame(gameOpt.value)">
      <option
        *ngFor="let game of games; let i = index"
        [value]="i"
        [selected]="i === currentGameIndex"
      >
        {{ game.game }}
      </option>
    </select>
  </div>
  <a class="nes-btn" routerLink="/rosa">That's enough for today</a>
</div>
