<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Rosalia Nightsong</h1>
    <p>
      Rosalia Nightsong is a Discord bot that lets you play an RPG game in your
      server.
    </p>
    <p>
      She's still pretty bare-bones, but you can read all about her features in
      her documentation.
    </p>
    <p>
      Or, you can learn more about Rosalia the <em>character</em> by browsing
      this site.
    </p>
  </div>

  <a class="nes-btn" href="https://docs.rosalianightsong.com">View Documentation</a>
  <a routerLink="/rosa" class="nes-btn">Learn About Rosalia</a>
</div>
